.list {
  display: flex;
  flex-direction: column;
  --item-margin: 10px;

  & > li + li {
    margin-top: var(--item-margin);
  }

  @media (min-width: 501px) and (max-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;

    & > li + li {
      margin-top: 0;
    }
  }
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  box-shadow: var(--shadow-md);

  &_left {
    display: flex;
    max-width: 70%;

    @media (max-width: 768px) {
      flex-direction: column;
      max-width: none;
    }
  }

  &_right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: auto 0;

    @media (max-width: 768px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
    }
  }

  @media (max-width: 768px) {
    justify-content: flex-start;
    flex-direction: column;
  }

  @media (min-width: 501px) and (max-width: 768px) {
    width: calc((100% - var(--item-margin)) / 2);

    &:nth-child(2n) {
      margin-left: var(--item-margin);
    }

    &:nth-child(n + 3) {
      margin-top: var(--item-margin);
    }
  }
}

.image {
  height: 200px;
  width: 200px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.description {
  max-width: 350px;
  margin-top: 10px;
  margin-left: 10px;

  @media (max-width: 768px) {
    margin-left: 0;
    margin-top: 10px;
    max-width: none;
  }
}

.delete {
  margin-top: 20px;

  @media (max-width: 768px) {
    margin-top: 0;
    margin-left: 20px;
  }
}
