.ProductPage {
  padding: 110px 15px 80px;
}

.productContent {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productTitle {
  color: #999;
}

.productDescr {
  line-height: 1.8em;
}