.productsList {
  width: 100%;
  padding: 20px 0;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.loadNewBtn {
  display: block;
  margin: 20px auto;
  cursor: pointer;
  width: fit-content;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  background-color: #ff3636;
  border-radius: 5px;
  text-align: center;
}

@media (max-width: 480px) {
  .productsList {
    padding: 0;
    gap: 0;
    grid-template-columns: 1fr;
  }
}