.authBtns {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.signInBtn, .signUpBtn {
  cursor: pointer;
  text-align: center;
  padding: 20px 0;
  flex-grow: 1;
  font-size: clamp(1rem, 0.925rem + 0.38vw, 1.25rem);
}

.signInBtn.active, .signUpBtn.active {
  font-weight: 600;
  text-decoration: dashed;
}

.authForm {
  display: flex;
  flex-direction: column;
}

.authError {
  color: #ff4c4c;
  margin-bottom: 5px;
}

.authInput {
  font-size: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  width: 100%;
}
.authInput:not(:last-child) {
  margin-bottom: 10px;
}

.errorMessage {
  margin: 0 auto;
  margin-bottom: 10px;
  color: #ff4c4c;
}

.submitBtn {
  height: 2em;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 20px;
  border: none;
  background-color: #ff4c4c;
  color: #fff;
}