.container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card {
  display: flex;
  align-items: center;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }
}

.image {
  height: 100%;
  width: 500px;
  object-fit: cover;
  border-radius: 5px;

  @media (max-width: 480px) {
    width: 100%;
  }

  &_wrapper {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 70%;

    @media (max-width: 480px) {
      height: 250px;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(30% - 20px);

  @media (max-width: 768px) {
    width: 100%;
  }
}

.button {
  width: 100%;
  font-size: 20px;
}

.description {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.favorite_button {
  width: 45px;
  height: 45px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;

  &_icon {
    width: 30px;
    height: 30px;
  }

  &_rate {
    transform: translateY(2px);
  }
}

.reviews {
  width: 70%;

  @media (max-width: 768px) {
    width: 100%;
  }
}
