.container {
  padding-top: 20px;
  padding-bottom: 20px;

  & > * + * {
    margin-top: 20px;
  }
}

.card {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }
}

.image {
  height: 100%;
  width: 500px;
  object-fit: cover;
  border-radius: 5px;

  @media (max-width: 480px) {
    width: 100%;
  }

  &_wrapper {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 300px;

    @media (max-width: 480px) {
      height: 250px;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.info {
  width: calc(30% - 20px);
  margin-left: 20px;

  & > * + * {
    margin-top: 10px;
  }

  @media (max-width: 768px) {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
}

.description {
  width: 70%;

  & > * + * {
    margin-top: 10px;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.rating {
  display: flex;
  align-items: center;

  &_icon {
    width: 30px;
    height: 30px;
  }

  &_rate {
    margin-left: 10px;
    transform: translateY(2px);
  }
}

.buttons {
  display: flex;
  align-items: center;
}

.favorite_button {
  width: 45px;
  height: 45px;

  & + .buy_button {
    margin-left: 10px;
  }
}

.buy_button {
  width: 100%;
  font-size: 20px;
}

.reviews {
  width: 70%;

  @media (max-width: 768px) {
    width: 100%;
  }
}
