.passwordForm {
  display: flex;
  flex-direction: column;
}

.passwordLabel {
  margin-bottom: 10px;
}

.passwordInput {
  font-size: 20px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
}

.submitBtn {
  height: 2em;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 20px;
  border: none;
  background-color: #ff4c4c;
  color: #fff;
}

.errorMessage {
  color: red;
  text-align: center;
}