.Cart {
  padding-top: 90px;
  display: flex;
  justify-content: center;
  padding: inherit 20px;
}

.purchaseBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  padding: 20px 0;
  width: 100%;
}

.resultText {
  font-weight: 600;
  font-size: 22px;
}

.buyBtn {
  cursor: pointer;
  max-width: 400px;
  margin-top: 20px;
  font-size: 20px;
  padding: 1.5em;
  color: #fff;
  background-color: #ff3636;
  border-radius: 5px;
  text-align: center;
}

.cartList {
  width: 100%;
}

@media (max-width: 768px) {
  .Cart {
    padding: inherit 15px;
  }
  
  .purchaseBlock {
    height: 150px;
  }

  .resultText {
    font-size: 18px;
  }
  
  .buyBtn {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .Cart {
    padding-top: 65px;
  }

  .purchaseBlock {
    height: 100px;
  }

  .resultText {
    font-size: 14px;
  }
  
  .buyBtn {
    font-size: 12px;
  }
}