.Cart {
  padding-top: var(--header-height);
  padding: inherit 20px;
}

.purchaseBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 200px;
  padding: 20px 0;
  width: 100%;
}

.resultText {
  font-weight: 600;
  font-size: clamp(1rem, 0.887rem + 0.57vw, 1.375rem);
}

.buyBtn {
  cursor: pointer;
  font-size: clamp(1rem, 0.887rem + 0.57vw, 1.375rem);
  padding: 20px;
  color: #fff;
  background-color: #ff3636;
  border-radius: 5px;
  text-align: center;
}

.cartList {
  width: 100%;
}

.addressInput {
  font-size: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  width: 100%;
}

.formError {
  color: #ff4c4c;
  margin-bottom: 5px;
}

.orderBtn {
  width: 100%;
  height: 2em;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 20px;
  border: none;
  background-color: #ff4c4c;
  color: #fff;
}
@media (max-width: 640px) {
  .purchaseBlock {
    flex-direction: column;
  }
}