.button {
  padding: 12px 8px;
  border-radius: 10px;
  font-weight: 600;

  &_contained {
    background: var(--accent-color);
    color: var(--white-color);
  }

  &_outlined {
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
  }

  &:disabled {
    background-color: var(--grey-color);
  }
}
