.productItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 40px;
  width: calc(25% - 20px * 3 / 4);
  font-size: 14px;
}

.productItem:hover {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.14);
}

.productPoster {
  display: block;
  cursor: pointer;
  width: 60%;
  aspect-ratio: 3/4;
}

.productName {
  align-self: flex-start;
  word-wrap: break-word;
}

.price {
  align-self: flex-start;
  font-weight: 600;
  font-size: 18px;
}

.btns {
  margin: 0 auto;
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 0.9em;
}

.buyBtn {
  width: 60%;
  cursor: pointer;
  padding: 15px;
  color: #fff;
  background-color: #ff3636;
  border-radius: 5px;
  text-align: center;
}

.goodBtn {
  background-color: #fff;
  color: #ff3636;
  border: 1px solid #ff3636;
}

.favorite {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .productItem {
    padding: 20px 20px;
  }
}

@media (max-width: 960px) {
  .productItem {
    width: calc(33.33% - 20px * 2 / 3);
  }
}

@media (max-width: 768px) {
  .productItem {
    width: calc(50% - 20px / 2);
  }
}

@media (max-width: 480px) {
  .productItem {
    width: 100%;
  }
}