.productItem {
  position: relative;
  padding: 20px 40px;
  width: 100%;
  max-width: 160px;
  height: 300px;
  font-size: 14px;
  justify-self: center;
}

.productItem:hover {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.14);
}

.productPoster {
  display: block;
  cursor: pointer;
  grid-area: img;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  height: 150px;
  margin-bottom: 10px;
}

.productName {
  grid-area: title;
  word-wrap: break-word;
}

.price {
  grid-area: price;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}

.btns {
  grid-area: btns;
  position: absolute;
  bottom: 20px;
  width: 100%;
  max-width: 160px;
  height: max-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 0.9em;
}

.buyBtn {
  cursor: pointer;
  width: 100%;
  max-width: 80px;
  padding: 15px;
  color: #fff;
  background-color: #ff3636;
  border-radius: 5px;
  text-align: center;
}

.goodBtn {
  background-color: #fff;
  color: #ff3636;
  border: 1px solid #ff3636;
}

.favourite {
  margin-left: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .price {
    margin-bottom: 15px;
    font-size: 16px;
  }

  .productItem {
    padding: 15px 20px;
    max-width: 170px;
    height: 280px;
    font-size: 14px;
    justify-self: center;
  }

  .btns {
    right: 15px;
    left: 20px;
    bottom: 15px;
  }
}

@media (max-width: 480px) {
  .price {
    margin-bottom: 10px;
    font-size: 2em;
  }

  .productItem {
    position: relative;
    display: grid;
    grid-template-areas: 'img title'
                          'img price'
                          'img btns'
                          'img btns'
                          'img btns';
    padding: 8px 0;
    width: 100%;
    max-width: none;
    height: 200px;
    font-size: 10px;
    justify-self: center;
  }
  
  .productItem:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }

  .productItem:hover {
    background-color: none;
    border-radius: 0;
    box-shadow: none;
  }
  
  .btns {
    position: static;
  }

  .productPoster {
    margin: auto 0;
    margin-right: 10px;
    height: 150px;
    width: 100px;
  }

  .productName {
    margin-top: 30px;
    font-size: 1.4em;
  }

  .price {
    margin: 0 auto;
    height: max-content;
  }

  .buyBtn {
    max-width: 80px;
    padding: 10px;
    font-size: 1.5em;
  }
}