.ProfilePage {
  padding-top: 90px;
}

.profileWrapper {
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: 80vh;
  border: 1px solid #000;
}

.optionsList {
  width: 30%;
}

.optionsListItem {
  font-size: 1.3em;
  padding: 1em;
  border-bottom: 1px solid #000;
}

.profileContent {
  width: 70%;
  border-left: 1px solid #000;
}

@media (max-width: 480px) {
  .ProfilePage {
    padding-top: 65px;
  }
}