.Header {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: var(--header-height);
  background-color: #fff;
  box-shadow: 0 0 5px #000;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  width: 130px;
  height: 100px;
  margin-right: 10px;
  cursor: pointer;
}

.headerLinkBtns {
  display: flex;
  gap: 20px;
  height: 50px;
  align-items: center;
}

.headerBtn {
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.count {
  cursor: pointer;
  position: absolute;
  color: #ff4c4c;
  text-align: center;
  font-weight: 600;
  font-size: 14;
  top: 45%;
  left: 25%;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 15px;
}

.cartBtn {
  position: relative;
}

.loginBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  height: 80%;
  width: 100px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.burgerBtn {
  cursor: pointer;
  display: none;
  min-width: 30px;
  height: 20px;
  position: relative;
}

.burgerBtn::before {
  content: '';
  position: absolute;
  top: 9px;
  width: 30px;
  height: 3px;
  background-color: black;
}

.burgerBtn span {
  position: absolute;
  top: 0;
  width: 30px;
  height: 3px;
  background-color: black;
}

.burgerBtn::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 3px;
  background-color: black;
}

@media (max-width: 768px) {
  .logo {
    min-width: 90px;
    width: 90px;
    height: 70px;
  }
  
  .headerLinkBtns {
    display: none;
  }
  
  .burgerBtn {
    display: block;
  }
}

@media (max-width: 480px) {
  .logo {
    display: none;
  }
  
  .headerLinkBtns {
    display: none;
  }
}