.cartListItem {
  padding: 20px 0;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
}

.cartListItem {
  border-bottom: 1px solid #eee;
}

.productCardImage {
  cursor: pointer;
  height: 300px;
  aspect-ratio: 3.5/5;
}

.productCardDescr {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.goodName {
  cursor: pointer;
  word-wrap: break-word;
}

.goodAuthor {
  color: #999;
}

.buyBlock {
  margin-left: auto;
  display: flex;
  gap: 30px;
  align-items: center;
}

.price {
  font-size: 18px;
  white-space: nowrap;
  font-weight: 600;
}

.productButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 40px;
}

.leftButtons {
  display: flex;
}

.countButton {
  user-select: none;
  cursor: pointer;
  font-weight: 600;
  padding: 10px 20px;
  border: 1px solid #eee;
}

.productBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btnIcon {
  width: 30px;
  height: 30px;
}

@media (max-width: 1024px) {
  .cartListItem {
    flex-direction: column;
    padding: 40px 0;
  }
  .productCardDescr {
    max-width: 230px;
  }
  .buyBlock {
    margin: 0;
  }
  .productButtons {
    margin: 0;
    flex-direction: row;
    gap: 20px;
  }
}