.ErrorPage {
  padding-top: 90px;
  display: flex;
  justify-content: center;
}

.errorBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  font-size: 2em;
  width: max-content;
  height: 300px;
}

.errorImg {
  width: 300px;
  height: 270px;
}

@media (max-width: 768px) {
  .errorBlock {
    font-size: 1.7em;
    margin-top: 20px;
  }

  .errorImg {
    width: 250px;
    height: 220px;
  }
}

@media (max-width: 480px) {
  .ErrorPage {
    padding-top: 65px;
  }

  .errorBlock {
    font-size: 1.4em;
    margin-top: 10px;
  }

  .errorImg {
    width: 200px;
    height: 170px;
  }
}