.link_buttons {
  display: flex;
  align-items: center;
  gap: 16px;

  @media (max-width: 768px) {
    display: none;
  }
}

.link {
  display: block;
  height: fit-content;
  width: fit-content;
  padding: 8px;
}

.icon {
  height: 24px;
  width: 24px;
}
