.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  padding: 12px;
  height: 100%;
}

.image {
  height: 256px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.info_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
