.productCard {
  display: grid;
  grid-template-areas: 'img descr descr . . .'
                        'img price price . . .';
  margin-bottom: 20px;
}

.productCardImage {
  margin: auto 0;
  margin-right: 30px;
  grid-area: img;
  height: 400px;
  width: 250px;
}

.productCardDescr {
  grid-area: descr;
}

.productName {
  margin-bottom: 5px;
}

.productAuthor {
  color: #999;
}

.purchaseBlock {
  grid-area: price;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
  max-width: 200px;
  margin-top: 10%;
  background-color: #ddd;
}

.productPrice {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 24px;
}

.productBtn {
  cursor: pointer;
  text-align: center;
  padding: 1em 1em;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff3636;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}

.activeBtn {
  background-color: #fff;
  color: #ff3636;
  border: 1px solid #ff3636;
}

@media (max-width: 768px) {
  .productCardImage {
    height: 300px;
    width: 200px;
  }

  .productName {
    font-size: 18px;
  }

  .purchaseBlock {
    padding: 20px;
    max-width: 150px;
  }

  .productPrice {
    font-size: 18px;
  }

  .productBtn {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .productCardImage {
    height: 180px;
    width: 120px;
    margin-right: 15px;
  }
  
  .productName {
    font-size: 14px;
  }

  .productAuthor {
    font-size: 14px;
  }

  .purchaseBlock {
    padding: 15px;
    max-width: 120px;
  }

  .productPrice {
    font-size: 16px;
  }

  .productBtn {
    font-size: 10px;
  }
}