.productCard {
  display: flex;
  gap: 30px;
}

.productRightBlock {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.productCardImage {
  max-width: 250px;
}

.productCardDescr {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productName {
  font-size: clamp(1.125rem, 1.012rem + 0.57vw, 1.5rem);
}

.productAuthor {
  color: #999;
}

.purchaseBlock {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 400px;
  height: clamp(15.625rem, 14.682rem + 4.72vw, 18.75rem);
  background-color: #ddd;
}

.productPrice {
  font-weight: 600;
  font-size: 24px;
}

.productBtn {
  cursor: pointer;
  text-align: center;
  padding: 20px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff3636;
  color: #fff;
  border-radius: 5px;
}

.activeBtn {
  background-color: #fff;
  color: #ff3636;
  border: 1px solid #ff3636;
}

@media (max-width: 768px) {
  .productCard {
    flex-direction: column;
    align-items: center;
  }
  .productCardDescr {
    align-items: center;
  }
  .productName, .productAuthor {
    text-align: center;
  }
  .purchaseBlock {
    width: 100%;
  }
}