@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins:wght@200;400;600&display=swap');

:root {
  --header-height: 90px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 24px;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  margin: 0;
}

p {
  margin: 0;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1380px;
}

.hide {
  display: none;
}

.favourites {
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.emptyPage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.alertMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  font-size: 1.4em;
}

@media (max-width: 768px) {
  .emptyPage {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .emptyPage {
    font-size: 16px;
  }
}