.AccountPage {
  padding-top: calc(var(--header-height) + 20px);
  height: 100vh;
  padding-bottom: 20px;
}

.accountWrapper {
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  height: 100%;
  border: 1px solid #000;
}

.optionsList {
  overflow-y: auto;
  width: 100%;
  background-color: #222;
}

.optionsListItem {
  font-size: clamp(0.938rem, 0.843rem + 0.47vw, 1.25rem);
  border-bottom: 1px solid #ddd;
}

.optionsLink {
  display: block;
  background-color: #222;
  color: #fff;
  padding: 40px 20px;
}

.rightBlock {
  width: 100%;
  overflow: auto;
}

.returnBtn {
  display: block;
  cursor: pointer;
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
}