.container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 300px;
}

.image {
  height: 100%;
  width: auto;
  object-fit: contain;
  border-radius: 5px;

  &_wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 70%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(30% - 20px);
}

.button {
  width: 100%;
  font-size: 20px;
}

.description {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.favorite_button {
  width: 45px;
  height: 45px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;

  &_icon {
    width: 30px;
    height: 30px;
  }

  &_rate {
    transform: translateY(2px);
  }
}

.reviews {
  width: 70%;
}
