.item {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: calc(100% - var(--item-margin));
  height: 100%;
  max-width: 320px;
  padding: 12px;
  overflow: hidden;
  box-shadow: var(--shadow-md);
  border-radius: 10px;
  --item-margin: 10px;

  & > * + * {
    margin-top: 10px;
  }

  @media (min-width: 1401px) {
    &:nth-child(4n) {
      width: 100%;
    }

    &:nth-child(n + 5) {
      margin-top: var(--item-margin);
    }
  }

  @media (min-width: 1025px) and (max-width: 1400px) {
    &:nth-child(3n) {
      width: 100%;
    }

    &:nth-child(n + 4) {
      margin-top: var(--item-margin);
    }
  }

  @media (min-width: 560px) and (max-width: 1024px) {
    &:nth-child(2n) {
      width: 100%;
    }

    &:nth-child(n + 3) {
      margin-top: var(--item-margin);
    }
  }

  @media (max-width: 560px) {
    width: 100%;

    &:nth-child(n + 2) {
      margin-top: var(--item-margin);
    }
  }
}

.image {
  height: 256px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.info_wrapper {
  & > * + * {
    margin-top: 5px;
  }
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.favorite_button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  padding: 10px;
}
