.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.fullname {
  text-align: center;
}

.button {
  width: 100%;
}
